## Basic Input & Output & String Formatting

In [2]:
x = input('Enter your name:')

Enter your name:shaghayegh

In [3]:
x = int(input('Enter a number:'))

Enter a number:10

In [4]:
print(x + 100)

110

In [11]:
x = input('Enter a number:')

Enter a number:10

In [12]:
eval(x)

10

### Output

In [15]:
print('Javad', 'Forughi', end='\\')
print('Shaghayegh', 'Ameri')

Javad Forughi\Shaghayegh Ameri

In [20]:
for item in range(100):
    if item % 10 == 0:
        end = '\n'
    else:
        end = ' '
    print(item, end=end)

0
1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99

In [27]:
print('Javad', 'Forughi', sep='--------')

Javad--------Forughi

### String Formating

In [28]:
'{} kgs banana costs {}'.format(2, 100)

'2 kgs banana costs 100'

In [29]:
'{1} kgs banana costs {0}'.format(2, 100)

'100 kgs banana costs 2'

In [30]:
'{number} kgs banana costs {cost}'.format(number=2, cost=100)

'2 kgs banana costs 100'

In [31]:
'{{ {0} }}'.format('foo')

'{ foo }'